/* =============================================================================
  [WLT FRAMEWORK] // MOBILE FRAMEWORK STYLES
   ========================================================================== */

/* Layout style
/*------------------------------------------*/
html{ height:100%;  }
body{ padding:0;font-size:12px;margin:0 auto;height: 100%;position: relative;line-height:19px; background:#fff; font-family: "Open Sans", sans-serif;  }
body .main-container { max-width:800px; padding:0px;  margin: auto auto; }
#wrapper { padding: 10px;  background: #F7F7F7; }
ul { list-style:none; padding:0px; margin:0px; }
.toast-container {
position: absolute;
background: rgb(132, 10, 10);
top: 200px;
width: 100%;
padding: 10px;
padding-top: 15px;
color: #fff;
font-weight: bold;
text-align: Center;
font-size: 20px;
}
.blogcats .post-categories li a { font-size:11px; }
.scotch-panel-left { background:#000; min-height:125px; }
.scotch-panel-left a { color:#fff !important; }
/* Headings
/*------------------------------------------*/
h1{ font-size:18px;}
h2{ font-size:16px;}
h3{ font-size:14px;}
h4{ font-size:14px;}
h5{ font-size:14px;}
h6{ font-size:12px;}
p{ padding:0 0 10px 0; margin:0px;}

/* Buttons
/*------------------------------------------*/
input, select, textarea, .form-control, .input-lg { border-radius:0px; padding:10px; }
.btn-primary {
padding: 7px 13px;
border: 1px solid #666;
background: #ebebeb;
cursor: pointer;
text-transform: uppercase;
font-weight: bold;
color: #6B6B6B;
text-shadow: 1px 1px 1px #fff;
}
.btn-primary:hover { background:#ddd; color:#000; }

/* Panels
/*------------------------------------------*/
.panel .btn { padding:3px; font-size:12px; }
.panel-default { border-radius:0px; }
.panel-default>.panel-heading {
background: #ebebeb;
border-top: 1px solid #ffffff;
border-bottom: 1px solid #cdcdcc;
margin: 0;
font-size: 13px;
line-height: 16px;
padding: 15px 12px 14px;
font-weight: bold;
color: #808080;
text-shadow: 1px 1px 0 #fff;
}
.panel-body { padding:8px; }
.panel-title { margin:0px; padding:0px; }
.list-group-item.row-even, .list-group-item.row-odd { text-align:left; }
.list-group-item .pull-right { display:none; }

/* Page = Add Listing
/*------------------------------------------*/
#steps_left_column { display:none; }
.tcbox {float:left; width:30px;  }
.list-group-item .label-warning { float:right; }
#editlistingbox { display:none; }

/* Page = My Account
/*------------------------------------------*/
.media .pull-left { display:none; }
 a.label{ color:#fff !important; text-shadow:none !important }
#MyAccountBlock hr { margin:0px; }

.wlt_mobileweb #MyAccountBlock .icon { display:none; } 

/* Search style
/*-----------------------------------------  -*/
.search .inner-wrapper { background:#fff; padding:10px; border:1px solid #ddd;  }

.searchpage .resultstxt { font-size:11px; color:#999; margin-top:5px; margin-bottom:5px; }
.searchpage h2, .blogblock h2 { padding-top:0px; margin-top:0px; margin-bottom:5px; font-size:13px; padding-bottom:1px; line-height:25px;  max-height: 50px;  overflow: hidden; }

.searchpage .btn-group { width:100%; margin-top:10px; }
.searchpage .dropdown-menu { width:100%; }
.searchpage .btn, .pager li a {  border-radius:0px; padding:5px; }	
.searchpage .nav-pills { MARGIN-TOP:3PX; }
.searchpage .nav-pills>li { background:#efefef; border:1px solid #ddd; height:22px;  }
.searchpage .nav-pills>li.nbg { background:#fff; border:1px solid #fff; }
.searchpage .wlt_starrating { display:block; }
.searchpage .nav-pills>li a { padding:3px 5px 3px 6px; }
.searchpage .nav-pills>li a span {  text-indent:-9999px; display:none; }

	.searchblock { position:relative;  margin:0px; padding:0px; border:1px solid #ddd; background:#fff; margin-bottom:10px;  -webkit-box-shadow: 1px 1px #E0E0E0; -moz-box-shadow: 1px 1px #E0E0E0;}
	.searchblock .frame img, .blogblock .frame img { max-width:120px; max-height:80px;  }
	.searchblock .wlt_shortcode_excerpt { font-size:11px; font-weight:bold; }
	
.searchpage .morecontentbox { font-size:11px; }
.searchpage .morecontentbox a { text-decoration:none;  }
.searchpage .list_favorites_add:before { font-family: 'Glyphicons Halflings'; content: "\e006"; display:block; font-size:30px; margin-top:40px;  text-decoration:none; padding-bottom:5px;  }
.searchpage .list_favorites_remove:before { font-family: 'Glyphicons Halflings'; content: "\e014"; color:#993300; display:block; font-size:30px; margin-top:40px; text-decoration:none; padding-bottom:5px;    }

.wlt_shortcode_code { color:green; display:block; font-weight:bold;  }

#MyLocationModal hr, #MyLocationModal .modal-title, #MyLocationModal .addressbox { display:none; }

/* Header Styles
/*------------------------------------------*/
header  {height: 47px;width: 100%;background: #2c2c2c;}
header .menubtn { background: #171717; float: left;	 margin: 3px 0 0 10px; padding: 3px; }	
header .menubtn.sb a { color:#fff;  }	
.sb a { color: #E2E2E2; text-shadow: 1px 1px 1px #000;   }
header .menubtn a, .menubtn img { display: block; }
header .menubtn img { width: 22px; }
header .menubtn a {cursor: pointer; border-top: 1px solid #5c5c5c; background: #212121; padding: 6px 9px 8px; }
header .menubtn a:active { padding: 7px 9px;	opacity: 0.65; }
header .menubtn.active img { opacity: 0.35; }
header ul { float: right; margin: 0px; }
header li { list-style: none;float: left;  }
header li a { display: block;  width: 48px; font-size:16px; line-height:47px; text-align:center; color:#fff !important;    }
header li a:active { opacity: 0.65; }	
header li.home, header li.user { border-right: 1px solid #aaaaaa; }
header li.map { border-left: 1px solid #aaaaaa; }
header li.active { background: #fff; border-right:0px; }
header li.active a {  color:#333333 !important;  }
header li.contact a:active { background-position: 14px 13px; }
.home header li.home { background:#F7F7F7; }

/* Sub Header
/*------------------------------------------*/	
#subheader {background: #fff;border-bottom: 1px solid #c8c8c7; height: 75px;  }
#logo { float:left; margin: 30px 0 0 14px; font-size:200%; color:#000; text-shadow:1px 1px 1px #fff; letter-spacing:-1px; }
#logo1 { width:100%; display:block; font-size:300%; text-align:center; padding:0px; margin:0px; padding-top:20px; line-height: 40px; color:#000; }
#logo, #logo:hover, #logo1, #logo1:hover { text-decoration:none; }
#logo span, #logo1 span { font-weight:bold; }
#logo:active { margin-top: 25px;opacity: 0.65; }
.sublinetext { text-align:center; font-size:14px; margin-top:10px; }
#subheader ul { float: right; padding: 3px;margin: 20px 12px 0 0;  background: #D0D0D0; border: 1px solid #B8B8B8; }
#subheader li { float: left;list-style: none; }
#subheader li a {display: block;padding: 5px 11px;cursor: pointer; text-transform:uppercase; font-size:11px; font-weight:bold; color:#fff;  }
#subheader li.sb a { font-size:16px !important; padding-top:8px;;}
#subheader li a:hover { text-decoration:none; background:#4F96C5; }

nav .wrapper { background:#000; padding: 10px; }
nav .mobilemenu { background:#171717; border:1px solid #fff; border: 1px solid #343434; border-bottom:0px solid #000;   }
nav .mobilemenu li { padding:3px; background:#171717; }
nav .mobilemenu li a, nav .mobilemenu li a:hover { 
cursor: pointer;
border: 1px solid #5c5c5c;
border-top:0px;
background: #2c2c2c;
padding: 6px 9px 8px;
width:100%;
display:block;
color:#fff !important;
text-shadow:1px 1px 1px #000;
font-weight:bold;
text-transform: uppercase;
text-decoration:none;
}
nav .mobilemenu li a:before { font-family: 'Glyphicons Halflings'; content: "\e080"; padding-right:10px; }
nav .mobilemenu li .dropdown-menu { background:none; border:0px; }
nav .mobilemenu li .dropdown-menu li a { background:none; font-size:14px; }

#searchnav { background:#000; padding:10px;  }
#searchnav h5 { color:#fff; }
#searchnav input, #searchnav select, #searchnav button { width:100%; padding:10px; border-radius:0px; border:0px; font-weight:normal; margin-bottom:5px; } 
button { text-transform:uppercase; }

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus { background:#5E5E5E; border:0px; border-radius:0px !important }

/* Home Styles
/*------------------------------------------*/	
 
.homemenu { border-bottom:1px solid #ddd; margin-bottom:30px; }
.homemenu ul li { background: #D0D0D0; border: 1px solid #B8B8B8; margin-bottom:10px; padding:3px;  }
.homemenu ul { margin-top:40px; }
.homemenu ul li a {
display: block;
padding: 10px;
cursor: pointer;
text-transform: uppercase;
font-size: 16px;
font-weight: bold;
color: #fff;
}
.homemenu ul li a span { padding-right:10px; }
.home .addthis_toolbox { margin-left:10px; }

.home .categorylist { margin-top:30px; }
.home .categorylist ul li { color:#D2D2D2; font-size:12px; }
.home .categorylist ul li a { font-size:16px;  }
.home .categorylist ul li a:after { font-family: 'Glyphicons Halflings'; content: "\e080"; float:right; }
.home .categorylist h4 { margin:0px; padding:0px; margin-left:-10px; margin-right:-10px; line-height:50px; border-top:1px solid #ccc; margin-top:30px; padding-left:15px; background:#fff; font-weight:bold; color:#666; }
.home .categorylist ul { margin:0px; padding:0px;  margin-left:-10px; margin-right:-10px; border-radius:0px !important;  }
.home .categorylist ul li { border-radius:0px !important; border-left:0px; border-right:0px; }
/* Single Page Styles
/*------------------------------------------*/	
.single .img-responsive {display:inline; }
.single .menulist { margin-top:10px; }
.single .menulist li { border:1px solid #ddd; padding:10px; margin-bottom:10px; text-align:center;  }
.single .menulist li a { text-align:center; font-size:16px;  }
.single .bs-callout .pull-right { float:none !important; }
.single .bs-callout .btn { display:block; width:100%; margin-top:10px; color:#fff; }

/*** featured item ***/
.searchblock.featured { background:#F4FFF2; padding-top:10px; }
.featured .wlt_starrating, .featured .nbg {  background:#F4FFF2 !important; border:0px !important; }
.featuredsticker, .sticker { display:none; }
.featured .thumbnail { color: #468847; background:#dff0d8 !important; border-color: #d6e9c6; }
.featured hr { border-color: #d6e9c6; }
.featured a { color: #468847 !important; }
.featured h1 a { color: #468847; }
.featured .btn-primary, .itemdata.featured .btn-primary:hover { background: #468847; border-color:#468847; color:#fff; }


/* Blue Color
/*------------------------------------------*/	
.blue #logo1 span, .blue #logo span, .blue a { color: #4f9ed2; }
.blue .homemenu ul li a, .blue #subheader li a {
text-shadow: 1px 1px 1px #4289B8;
border-top: 1px solid #86C9F5;
background: #4f9ed2;
} 
/* Red Color
/*------------------------------------------*/	
.red #logo1 span, .red #logo span, .red a { color: #AB1419; }
.red .homemenu ul li a, .red #subheader li a {
text-shadow: 1px 1px 1px #801115;
border-top: 1px solid #E5797C;
background: #AB1419;
}
/* Green Color
/*------------------------------------------*/	
.green #logo1 span, .green #logo span, .green a { color: #14AB6C; }
.green .homemenu ul li a, .green #subheader li a {
text-shadow: 1px 1px 1px #08794A;
border-top: 1px solid #43886B;
background: #14AB6C;
}
/* Orange Color
/*------------------------------------------*/	
.orange #logo1 span, .orange #logo span, .orange a { color: #C57E10; }
.orange .homemenu ul li a, .orange #subheader li a {
text-shadow: 1px 1px 1px #8B5A0E;
border-top: 1px solid #9E8E75;
background: #C57E10;
}
/* Purple Color
/*------------------------------------------*/	
.purple #logo1 span, .purple #logo span, .purple a { color: #810280; }
.purple .homemenu ul li a, .purple #subheader li a {
text-shadow: 1px 1px 1px #3D093D;
border-top: 1px solid #BA59B9;
background: #810280;
}

/* DEFAULT INNER LAYOUT */
.wlt_mobileweb .searchblock .wrap { padding:10px; }
.wlt_mobileweb .searchblock h2 { font-weight:bold; font-size:14px; margin-top:0px; }
.wlt_mobileweb .searchblock .frame { float:left; padding-right:20px; padding-bottom:10px;  }
.wlt_mobileweb .searchblock .wlt_shortcode_location { display:block; }
.wlt_mobileweb .searchblock .wlt_shortcode_location:before { content: "\e062"; padding-right:5px; font-family: 'Glyphicons Halflings'; font-size:11px; }
.wlt_mobileweb .searchblock .bmbox { background:#eee; height:30px; padding:5px; font-size:11px; text-transform:uppercase; color:#999; font-weight:bold; }

.wlt_mobileweb .listingblock { background:#fff; padding:10px; border:1px solid #ddd; }
.wlt_mobileweb .listingblock h1 { font-size:16px; margin-top:0px; margin-bottom:10px; padding-bottom:10px; border-bottom:1px solid #efefef; text-align:center; line-height:28px; }	
 

.flag {
	width: 16px;
	height: 11px;
	background:url(../img/flags.png) no-repeat;
	display:inline-block;
	margin-right:5px;
}
.flag.flag-ad {background-position: -16px 0}.flag.flag-ae {background-position: -32px 0}.flag.flag-af {background-position: -48px 0}.flag.flag-ag {background-position: -64px 0}.flag.flag-ai {background-position: -80px 0}.flag.flag-al {background-position: -96px 0}.flag.flag-am {background-position: -112px 0}.flag.flag-an {background-position: -128px 0}.flag.flag-ao {background-position: -144px 0}.flag.flag-ar {background-position: -160px 0}.flag.flag-as {background-position: -176px 0}.flag.flag-at {background-position: -192px 0}.flag.flag-au {background-position: -208px 0}.flag.flag-aw {background-position: -224px 0}.flag.flag-az {background-position: -240px 0}.flag.flag-ba {background-position: 0 -11px}.flag.flag-bb {background-position: -16px -11px}.flag.flag-bd {background-position: -32px -11px}.flag.flag-be {background-position: -48px -11px}.flag.flag-bf {background-position: -64px -11px}.flag.flag-bg {background-position: -80px -11px}.flag.flag-bh {background-position: -96px -11px}.flag.flag-bi {background-position: -112px -11px}.flag.flag-bj {background-position: -128px -11px}.flag.flag-bm {background-position: -144px -11px}.flag.flag-bn {background-position: -160px -11px}.flag.flag-bo {background-position: -176px -11px}.flag.flag-br {background-position: -192px -11px}.flag.flag-bs {background-position: -208px -11px}.flag.flag-bt {background-position: -224px -11px}.flag.flag-bv {background-position: -240px -11px}.flag.flag-bw {background-position: 0 -22px}.flag.flag-by {background-position: -16px -22px}.flag.flag-bz {background-position: -32px -22px}.flag.flag-ca {background-position: -48px -22px}.flag.flag-catalonia {background-position: -64px -22px}.flag.flag-cd {background-position: -80px -22px}.flag.flag-cf {background-position: -96px -22px}.flag.flag-cg {background-position: -112px -22px}.flag.flag-ch {background-position: -128px -22px}.flag.flag-ci {background-position: -144px -22px}.flag.flag-ck {background-position: -160px -22px}.flag.flag-cl {background-position: -176px -22px}.flag.flag-cm {background-position: -192px -22px}.flag.flag-cn {background-position: -208px -22px}.flag.flag-co {background-position: -224px -22px}.flag.flag-cr {background-position: -240px -22px}.flag.flag-cu {background-position: 0 -33px}.flag.flag-cv {background-position: -16px -33px}.flag.flag-cw {background-position: -32px -33px}.flag.flag-cy {background-position: -48px -33px}.flag.flag-cz {background-position: -64px -33px}.flag.flag-de {background-position: -80px -33px}.flag.flag-dj {background-position: -96px -33px}.flag.flag-dk {background-position: -112px -33px}.flag.flag-dm {background-position: -128px -33px}.flag.flag-do {background-position: -144px -33px}.flag.flag-dz {background-position: -160px -33px}.flag.flag-ec {background-position: -176px -33px}.flag.flag-ee {background-position: -192px -33px}.flag.flag-eg {background-position: -208px -33px}.flag.flag-eh {background-position: -224px -33px}.flag.flag-england {background-position: -240px -33px}.flag.flag-er {background-position: 0 -44px}.flag.flag-es {background-position: -16px -44px}.flag.flag-et {background-position: -32px -44px}.flag.flag-eu {background-position: -48px -44px}.flag.flag-fi {background-position: -64px -44px}.flag.flag-fj {background-position: -80px -44px}.flag.flag-fk {background-position: -96px -44px}.flag.flag-fm {background-position: -112px -44px}.flag.flag-fo {background-position: -128px -44px}.flag.flag-fr {background-position: -144px -44px}.flag.flag-ga {background-position: -160px -44px}.flag.flag-gb {background-position: -176px -44px}.flag.flag-gd {background-position: -192px -44px}.flag.flag-ge {background-position: -208px -44px}.flag.flag-gf {background-position: -224px -44px}.flag.flag-gg {background-position: -240px -44px}.flag.flag-gh {background-position: 0 -55px}.flag.flag-gi {background-position: -16px -55px}.flag.flag-gl {background-position: -32px -55px}.flag.flag-gm {background-position: -48px -55px}.flag.flag-gn {background-position: -64px -55px}.flag.flag-gp {background-position: -80px -55px}.flag.flag-gq {background-position: -96px -55px}.flag.flag-gr {background-position: -112px -55px}.flag.flag-gs {background-position: -128px -55px}.flag.flag-gt {background-position: -144px -55px}.flag.flag-gu {background-position: -160px -55px}.flag.flag-gw {background-position: -176px -55px}.flag.flag-gy {background-position: -192px -55px}.flag.flag-hk {background-position: -208px -55px}.flag.flag-hm {background-position: -224px -55px}.flag.flag-hn {background-position: -240px -55px}.flag.flag-hr {background-position: 0 -66px}.flag.flag-ht {background-position: -16px -66px}.flag.flag-hu {background-position: -32px -66px}.flag.flag-ic {background-position: -48px -66px}.flag.flag-id {background-position: -64px -66px}.flag.flag-ie {background-position: -80px -66px}.flag.flag-il {background-position: -96px -66px}.flag.flag-im {background-position: -112px -66px}.flag.flag-in {background-position: -128px -66px}.flag.flag-io {background-position: -144px -66px}.flag.flag-iq {background-position: -160px -66px}.flag.flag-ir {background-position: -176px -66px}.flag.flag-is {background-position: -192px -66px}.flag.flag-it {background-position: -208px -66px}.flag.flag-je {background-position: -224px -66px}.flag.flag-jm {background-position: -240px -66px}.flag.flag-jo {background-position: 0 -77px}.flag.flag-jp {background-position: -16px -77px}.flag.flag-ke {background-position: -32px -77px}.flag.flag-kg {background-position: -48px -77px}.flag.flag-kh {background-position: -64px -77px}.flag.flag-ki {background-position: -80px -77px}.flag.flag-km {background-position: -96px -77px}.flag.flag-kn {background-position: -112px -77px}.flag.flag-kp {background-position: -128px -77px}.flag.flag-kr {background-position: -144px -77px}.flag.flag-kurdistan {background-position: -160px -77px}.flag.flag-kw {background-position: -176px -77px}.flag.flag-ky {background-position: -192px -77px}.flag.flag-kz {background-position: -208px -77px}.flag.flag-la {background-position: -224px -77px}.flag.flag-lb {background-position: -240px -77px}.flag.flag-lc {background-position: 0 -88px}.flag.flag-li {background-position: -16px -88px}.flag.flag-lk {background-position: -32px -88px}.flag.flag-lr {background-position: -48px -88px}.flag.flag-ls {background-position: -64px -88px}.flag.flag-lt {background-position: -80px -88px}.flag.flag-lu {background-position: -96px -88px}.flag.flag-lv {background-position: -112px -88px}.flag.flag-ly {background-position: -128px -88px}.flag.flag-ma {background-position: -144px -88px}.flag.flag-mc {background-position: -160px -88px}.flag.flag-md {background-position: -176px -88px}.flag.flag-me {background-position: -192px -88px}.flag.flag-mg {background-position: -208px -88px}.flag.flag-mh {background-position: -224px -88px}.flag.flag-mk {background-position: -240px -88px}.flag.flag-ml {background-position: 0 -99px}.flag.flag-mm {background-position: -16px -99px}.flag.flag-mn {background-position: -32px -99px}.flag.flag-mo {background-position: -48px -99px}.flag.flag-mp {background-position: -64px -99px}.flag.flag-mq {background-position: -80px -99px}.flag.flag-mr {background-position: -96px -99px}.flag.flag-ms {background-position: -112px -99px}.flag.flag-mt {background-position: -128px -99px}.flag.flag-mu {background-position: -144px -99px}.flag.flag-mv {background-position: -160px -99px}.flag.flag-mw {background-position: -176px -99px}.flag.flag-mx {background-position: -192px -99px}.flag.flag-my {background-position: -208px -99px}.flag.flag-mz {background-position: -224px -99px}.flag.flag-na {background-position: -240px -99px}.flag.flag-nc {background-position: 0 -110px}.flag.flag-ne {background-position: -16px -110px}.flag.flag-nf {background-position: -32px -110px}.flag.flag-ng {background-position: -48px -110px}.flag.flag-ni {background-position: -64px -110px}.flag.flag-nl {background-position: -80px -110px}.flag.flag-no {background-position: -96px -110px}.flag.flag-np {background-position: -112px -110px}.flag.flag-nr {background-position: -128px -110px}.flag.flag-nu {background-position: -144px -110px}.flag.flag-nz {background-position: -160px -110px}.flag.flag-om {background-position: -176px -110px}.flag.flag-pa {background-position: -192px -110px}.flag.flag-pe {background-position: -208px -110px}.flag.flag-pf {background-position: -224px -110px}.flag.flag-pg {background-position: -240px -110px}.flag.flag-ph {background-position: 0 -121px}.flag.flag-pk {background-position: -16px -121px}.flag.flag-pl {background-position: -32px -121px}.flag.flag-pm {background-position: -48px -121px}.flag.flag-pn {background-position: -64px -121px}.flag.flag-pr {background-position: -80px -121px}.flag.flag-ps {background-position: -96px -121px}.flag.flag-pt {background-position: -112px -121px}.flag.flag-pw {background-position: -128px -121px}.flag.flag-py {background-position: -144px -121px}.flag.flag-qa {background-position: -160px -121px}.flag.flag-re {background-position: -176px -121px}.flag.flag-ro {background-position: -192px -121px}.flag.flag-rs {background-position: -208px -121px}.flag.flag-ru {background-position: -224px -121px}.flag.flag-rw {background-position: -240px -121px}.flag.flag-sa {background-position: 0 -132px}.flag.flag-sb {background-position: -16px -132px}.flag.flag-sc {background-position: -32px -132px}.flag.flag-scotland {background-position: -48px -132px}.flag.flag-sd {background-position: -64px -132px}.flag.flag-se {background-position: -80px -132px}.flag.flag-sg {background-position: -96px -132px}.flag.flag-sh {background-position: -112px -132px}.flag.flag-si {background-position: -128px -132px}.flag.flag-sk {background-position: -144px -132px}.flag.flag-sl {background-position: -160px -132px}.flag.flag-sm {background-position: -176px -132px}.flag.flag-sn {background-position: -192px -132px}.flag.flag-so {background-position: -208px -132px}.flag.flag-somaliland {background-position: -224px -132px}.flag.flag-sr {background-position: -240px -132px}.flag.flag-ss {background-position: 0 -143px}.flag.flag-st {background-position: -16px -143px}.flag.flag-sv {background-position: -32px -143px}.flag.flag-sx {background-position: -48px -143px}.flag.flag-sy {background-position: -64px -143px}.flag.flag-sz {background-position: -80px -143px}.flag.flag-tc {background-position: -96px -143px}.flag.flag-td {background-position: -112px -143px}.flag.flag-tf {background-position: -128px -143px}.flag.flag-tg {background-position: -144px -143px}.flag.flag-th {background-position: -160px -143px}.flag.flag-tj {background-position: -176px -143px}.flag.flag-tk {background-position: -192px -143px}.flag.flag-tl {background-position: -208px -143px}.flag.flag-tm {background-position: -224px -143px}.flag.flag-tn {background-position: -240px -143px}.flag.flag-to {background-position: 0 -154px}.flag.flag-tr {background-position: -16px -154px}.flag.flag-tt {background-position: -32px -154px}.flag.flag-tv {background-position: -48px -154px}.flag.flag-tw {background-position: -64px -154px}.flag.flag-tz {background-position: -80px -154px}.flag.flag-ua {background-position: -96px -154px}.flag.flag-ug {background-position: -112px -154px}.flag.flag-um {background-position: -128px -154px}.flag.flag-us {background-position: -144px -154px}.flag.flag-uy {background-position: -160px -154px}.flag.flag-uz {background-position: -176px -154px}.flag.flag-va {background-position: -192px -154px}.flag.flag-vc {background-position: -208px -154px}.flag.flag-ve {background-position: -224px -154px}.flag.flag-vg {background-position: -240px -154px}.flag.flag-vi {background-position: 0 -165px}.flag.flag-vn {background-position: -16px -165px}.flag.flag-vu {background-position: -32px -165px}.flag.flag-wales {background-position: -48px -165px}.flag.flag-wf {background-position: -64px -165px}.flag.flag-ws {background-position: -80px -165px}.flag.flag-ye {background-position: -96px -165px}.flag.flag-yt {background-position: -112px -165px}.flag.flag-za {background-position: -128px -165px}.flag.flag-zanzibar {background-position: -144px -165px}.flag.flag-zm {background-position: -160px -165px}.flag.flag-zw {background-position: -176px -165px}